<!DOCTYPE html>
<html>
<head>
	<h1> Add a new player: </h1>
</head>
<body>
  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Add this player!" %>
  <% end %> 
</body>
</html>